/* 全局樣式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* header樣式 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eefb04;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
}

nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #666;
}

/* main樣式 */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

#banner {
    text-align: center;
    margin-bottom: 2rem;
}

#featured-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.book {
    margin: 1rem;
    text-align: center;
}

.book img {
    margin-bottom: 0.5rem;
}

#book-list {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

li a {
    text-decoration: none;
    color: #333;
}

li a:hover {
    color: #666;
}

/* footer樣式 */
footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

footer p {
    margin: 0;
}

.social {
    display: flex;
}

.social img {
    margin-right: 0.5rem;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 0;
    background-color:#eefb04 ; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }